<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" *ngIf="userLoggedin">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li> <button type="button" uiSref="login" class="btn btn-primary" (click)="handle()">Logout</button></li>
      </ul>
    </div>
</nav>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" *ngIf="!userLoggedin">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li> <button type="button" uiSref="login" class="btn btn-primary" >Login</button></li>
        </ul>
      </div>
</nav>