
<div class="row">
<nav class="navbar navbar-expand-lg navbar-fixed col-md-2 bg-light">
  <div class="collapse navbar-collapse" >
    <ul class="navbar navbar-nav">
      <li>
        <a uiSref="aboutus" uiSrefActive="active">AboutUs</a>
      </li>
      <li>
        <button type="button" class="btn btn-button" (click)="isCollapsed = !isCollapsed">Collapse</button>
      </li>
      <li>
        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-danger dropdown-toggle">
            Dropdown
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li>
              <a uiSref="aboutus" uiSrefActive="active">AboutUs</a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li>
              <a uiSref="dashboard" uiSrefActive="active">Dashboard</a>
            </li>
          </ul>
        </div>
      </li>
      <li><a uiSref="contactus" uiSrefActive="active">ContactUs</a></li>
    </ul>
  </div>
</nav>

<div class="container col-md-8">
  <ui-view></ui-view>
  <div [collapse]="isCollapsed" class="card card-block card-header">
    Some content
  </div>
</div>
</div>