<div class="row">
  <nav class="navbar navbar-fixed col-md-2 bg-light">
    <div class="collapse navbar-collapse">
      <ul class="navbar navbar-nav">
        <li>
          <a uiSref="aboutus" uiSrefActive="active">AboutUs</a>
        </li>
        <li>
          <br>
          <button type="button" class="btn btn-primary" (click)="isOpen = !isOpen">Accordion</button>
        </li>
        <li>
          <br>
          <button type="button" class="btn btn-primary" (click)="open = !open">Alert Collapse</button>
        </li>
        <li>
          <br>
          <button type="button" class="btn btn-primary" (click)="staticModal.show()">Static modal</button>
        </li>
        <li>
          <br>
          <a uiSref="contactus" uiSrefActive="active">ContactUs</a>
        </li>
        <li>
          <br>
          <button class="btn btn-primary" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">Date Picker</button>
        </li>
        <li>
          <br>
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
              Button dropdown
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem">
                <a class="dropdown-item" href="#">Action</a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item" href="#">Another action</a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem">
                <a class="dropdown-item" href="#">Separated link</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container col-md-8">
    <ui-view></ui-view>
    <accordion >
      <accordion-group heading="Accordion First Header {{isOpen}}" [isOpen]="isOpen">
        <div>{{items[0]}}</div>
      </accordion-group>
    </accordion>

    <alert type="success" [isOpen]="open">
      <strong>Well done!</strong> You successfully read this important alert message.
    </alert>

    <div>
      Date Picker:
      <input type="text" #dp="bsDatepicker" bsDatepicker>
    </div>
    <br>

    <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-static-name" class="modal-title pull-left">Static modal {{title}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            This is static modal, backdrop click will not close it. Click
            <b>&times;</b> to close modal.
          </div>
        </div>
      </div>
    </div>
    <div>
      <pre class="card card-block card-header mb-3">Typeahead Example: {{selected | json}}</pre>
      <input [(ngModel)]="selected" [typeahead]="states" class="form-control">
    </div>
    <br>
    <div>
      <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
      <div class="card">
          <pre class="card-block card-header" style="margin:15px 0;">Rate: <b>{{rate}}</b> </pre>
      </div>
    </div>
    <div>
      Timepicker:
      <timepicker [(ngModel)]="mytime"></timepicker>
      <pre class="alert alert-info">Time is: {{mytime}}</pre>
    </div>
    <br>
    <div>
      <tabset>
        <tab heading="Basic title" id="tab1">
          <div class="row">
            <div class="col-xs-12 col-12">
              <div class="content-wrapper">
                <p class="content-item" *ngFor="let content of returnedArray">{{content}}</p>
              </div>
              <pagination [totalItems]="contentArray.length" (pageChanged)="pageChanged($event)"></pagination>
            </div>
          </div>
        </tab>
        <tab heading="Basic Title 1">
          Progressbar:
          <br>
          <progressbar max="100" [value]="66" type="danger" [striped]="true" [animate]="true">
            <i>66 / 100</i>
          </progressbar>
        </tab>
        <tab heading="Basic Title 2">
          <div class="row">
            <button type="button" class="btn btn-primary" popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
              popover
            </button>
            <br>
            <button type="button" class="btn btn-primary" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
              Simple demo
            </button>
          </div>
        </tab>
      </tabset>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-6 col-6 col-md-5 col-lg-3">
        <bs-sortable
          [(ngModel)]="itemStringsLeft"
          itemClass="sortable-item"
          itemActiveClass="sortable-item-active"
          placeholderItem="Drag here"
          placeholderClass="placeholderStyle"
          wrapperClass="sortable-wrapper"
        ></bs-sortable>
        <pre class="code-preview">model: {{ itemStringsLeft | json }}</pre>
      </div>
      <div class="col-xs-6 col-6 col-md-5 col-lg-3">
        <bs-sortable
          [(ngModel)]="itemStringsRight"
          itemClass="sortable-item"
          itemActiveClass="sortable-item-active"
          placeholderItem="Drag here"
          placeholderClass="sortable-item"
          wrapperClass="sortable-wrapper"
        ></bs-sortable>
        <pre class="code-preview">model: {{ itemStringsRight | json }}</pre>
      </div>
    </div>
    <carousel>
      <slide>
        <img src="assets/imgs/Hydrangeas.jpg" alt="first slide" style=" width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </slide>
      <slide>
        <img src="assets/imgs/Chrysanthemum.jpg" alt="second slide" style="width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </slide>
      <slide>
        <img src="assets/imgs/Desert.jpg" alt="third slide" style="width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </slide>
    </carousel>
  </div>
</div>