
<div class="row">
  <nav class="navbar navbar-fixed col-md-2 bg-light">
    <ul class="navbar navbar-nav">
        <li>
            <button type="button" uiSref="dashboard.display" class="btn btn-primary">Display
              <span class="badge badge-light" ></span>
            </button>
          </li>
      <li>
        <button type="button" uiSref="dashboard.accordion" class="btn btn-primary">Accordion</button>
      </li>
      <li>
        <button type="button" uiSref="dashboard.alert" class="btn btn-primary">Alert</button>
      </li>
      <li>
        <button type="button" uiSref="dashboard.buttons" class="btn btn-primary">Buttons</button>
      </li>
      <li>
        <button type="button" uiSref="dashboard.carousel" class="btn btn-primary">Carousel</button>
      </li>
      <li>
        <button type="button" uiSref="dashboard.collapse" class="btn btn-primary">Collapse</button>
      </li>
      <li>
        <button type="button" uiSref="dashboard.datepicker" class="btn btn-primary">Date Picker</button>
      </li>
      <li>
        <button type="button" uiSref="dashboard.dropdowns" class="btn btn-primary">Dropdowns</button>
      </li>
      <li>
        <button type="button" uiSref="dashboard.modals" class="btn btn-primary">Modals</button>
      </li>
      <li>
        <button type="button" uiSref="dashboard.pagination" class="btn btn-primary">Pagination</button>
      </li>
      <li>
        <button type="button" uiSref="dashboard.popover" class="btn btn-primary">PopOver</button>
      </li>
      <li>
        <button type="button" uiSref="dashboard.progresbar" class="btn btn-primary">Progressbar</button>
      </li>
      <li>
        <button type="button" uiSref="dashboard.rating" class="btn btn-primary">Rating</button>
      </li>
      <li>
        <button type="button" uiSref="dashboard.sortable" class="btn btn-primary">Sortable</button>
      </li>
      <li>
        <button type="button" uiSref="dashboard.tabs" class="btn btn-primary">Tabs</button>
      </li>
      <li>
        <button type="button" uiSref="dashboard.timepicker" class="btn btn-primary">Timepicker</button>
      </li>
      <li>
        <button type="button" uiSref="dashboard.tooltip" class="btn btn-primary">Tooltip</button>
      </li>
      <li>
        <button type="button" uiSref="dashboard.typeahead" class="btn btn-primary">Typeahead</button>
      </li>
    </ul>
  </nav>

  <div class="container col-md-8">
    <ui-view></ui-view>
  </div>

</div>