<form name="myForm" >
    <table>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="uname" id="uname"/></td>
            <td><span id="err1"></span></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" id="pwd"/></td>
            <td><span id="err2"></span></td>
        </tr>
        <tr>
          <button type="submit"  onclick="return valid()" (click)="handleClick()">Submit </button>  
        </tr>
    </table>
</form>

